/* Contact us widget */
#location-container {
    position: fixed;
    bottom: 150px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#location-widget {
    display: flex;
    align-items: center;
    background-color: #272727;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

#contact-message {
    display: none;
    margin-left: 10px;
    font-size: 14px;
}

#location-widget:hover #contact-message {
    display: inline-block;
}

#location-widget:hover {
    background-color: #28a745 !important;
}


/* About US widget */

#about-container {
    position: fixed;
    bottom: 250px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-widget {
    display: flex;
    align-items: center;
    background-color: #272727;
    padding: 16px;
    border-radius: 50px;
    cursor: pointer;
}
#about-message {
    display: none;
    margin-left: 10px;
    font-size: 14px;
}

#about-widget:hover #about-message {
    display: inline-block;
}

#about-widget:hover {
    background-color: #28a745 !important;
}


.custom-card {
    background: linear-gradient(rgba(50, 50, 50, 0.2), rgba(50, 50, 50, 0.6));
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

