
.navbar-nav .nav-link,
.navbar-nav .dropdown-item {
    transition: all 0.3s ease;
    color: white;
    text-decoration: none;
}

.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    background: linear-gradient(rgba(50, 50, 50, 0.2), rgba(50, 50, 50, 0.6));
}


.navbar-nav .nav-link,
.navbar-nav .dropdown-item {
    color: white;
}


.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    background: linear-gradient(rgba(300, 300, 300, 0.2), rgba(50, 50, 50, 0.6));
}

.navbar {
    background: linear-gradient(rgba(300, 300, 300, 0.4), rgba(0, 0, 0, 0.7));
}

.navbar .dropdown-menu {
    z-index: 1050;
    position: absolute;
}