{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="mb-5 mt-5 info-box">SynCCare Community</h1>


    <div class="info-box custom-card mb-5">
        <img src="{% static 'images/community_page.jpg' %}" alt="Community" class="img-fluid rounded mx-auto d-block"><br><br>
        <h3>Discover What Our Community Has to Say</h3><br>
        <h4>Take a moment to read the feedback from those who have experienced our services. Our community's reviews can provide valuable insights and help you make an informed decision.</h4>
        <h4>Feel free to explore and see for yourself how we're continuously striving to improve and serve you better!</h4>

    </div>
    {% for review in reviews %}
        <div class="review custom-card p-3 mb-3">
            <h3>{{ review.name }} ({{ review.get_category_display }})</h3>
            <p>Date: {{ review.date_posted }}</p>

            <p>Rating:
                {% for star in review.full_stars %}
                    {{ star }}
                {% endfor %}

                {% for star in review.empty_stars %}
                    {{ star }}
                {% endfor %}
            </p>

            {% if review.comment %}
                <p><strong>Comment:</strong> {{ review.comment }}</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}