{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us | SynCCare{% endblock %}

{% block content %}
<div class="container mt-5">
    <form method="post" class="mt-4 p-4 border rounded shadow-sm" style="background: rgba(10, 10, 10, 0.5); color: white; padding: 50px; ">
        {% csrf_token %}
    <h1>Contact Us</h1>
    <p>We are here to help! Below you will find the contact details of our global partner clinics. Feel free to reach out to any of our locations for support, inquiries, or more information about our services.</p>

    <h3>Our Global Locations</h3>
    <p>SynCCare partners with clinics and hospitals worldwide to provide the best healthcare services. Here are some of our partner locations:</p>

    <table class="table table-striped mt-4" style="color:white;">
        <thead>
            <tr>
                <th>Location</th>
                <th>Building Name</th>
                <th>Street Address</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  New York, USA</td>
                <td>SynCCare Medical Center</td>
                <td>123 5th Avenue</td>
                <td>+1 212-555-1234</td>
                <td>nyc@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  London, UK</td>
                <td>SynCCare Health Clinic</td>
                <td>45 Oxford Street</td>
                <td>+44 20 7946 1234</td>
                <td>london@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Paris, France</td>
                <td>SynCCare Clinic</td>
                <td>67 Rue de Rivoli</td>
                <td>+33 1 70 18 67 89</td>
                <td>paris@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Berlin, Germany</td>
                <td>SynCCare Clinic</td>
                <td>12 Unter den Linden</td>
                <td>+49 30 1234567</td>
                <td>berlin@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Tokyo, Japan</td>
                <td>SynCCare Medical</td>
                <td>1-5-1 Shibuya</td>
                <td>+81 3-1234-5678</td>
                <td>tokyo@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Beijing, China</td>
                <td>SynCCare Health</td>
                <td>22 Zhongguancun Street</td>
                <td>+86 10 1234 5678</td>
                <td>beijing@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Sydney, Australia</td>
                <td>SynCCare Clinic</td>
                <td>100 George Street</td>
                <td>+61 2 9876 5432</td>
                <td>sydney@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Toronto, Canada</td>
                <td>SynCCare Health Center</td>
                <td>56 King Street West</td>
                <td>+1 416-555-6789</td>
                <td>toronto@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Los Angeles, USA</td>
                <td>SynCCare Wellness Center</td>
                <td>45 Sunset Boulevard</td>
                <td>+1 323-555-9876</td>
                <td>la@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Rome, Italy</td>
                <td>SynCCare Hospital</td>
                <td>22 Via del Corso</td>
                <td>+39 06 1234 5678</td>
                <td>rome@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Madrid, Spain</td>
                <td>SynCCare Health Center</td>
                <td>18 Gran Via</td>
                <td>+34 91 123 4567</td>
                <td>madrid@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Dubai, UAE</td>
                <td>SynCCare Medical Facility</td>
                <td>15 Sheikh Zayed Road</td>
                <td>+971 4 567 8901</td>
                <td>dubai@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Zurich, Switzerland</td>
                <td>SynCCare Health Center</td>
                <td>28 Bahnhofstrasse</td>
                <td>+41 44 123 45 67</td>
                <td>zurich@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Hong Kong, China</td>
                <td>SynCCare Medical</td>
                <td>88 Queens Road East</td>
                <td>+852 1234 5678</td>
                <td>hongkong@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Rio de Janeiro, Brazil</td>
                <td>SynCCare Clinic</td>
                <td>23 Avenida Copacabana</td>
                <td>+55 21 1234 5678</td>
                <td>rio@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Singapore, Singapore</td>
                <td>SynCCare Medical Center</td>
                <td>45 Orchard Road</td>
                <td>+65 1234 5678</td>
                <td>singapore@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Mexico City, Mexico</td>
                <td>SynCCare Health Clinic</td>
                <td>100 Reforma Avenue</td>
                <td>+52 55 1234 5678</td>
                <td>mexico@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  São Paulo, Brazil</td>
                <td>SynCCare Wellness Center</td>
                <td>50 Paulista Avenue</td>
                <td>+55 11 9876 5432</td>
                <td>saopaulo@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Seoul, South Korea</td>
                <td>SynCCare Clinic</td>
                <td>22 Gangnam Road</td>
                <td>+82 2-1234-5678</td>
                <td>seoul@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Bangkok, Thailand</td>
                <td>SynCCare Health</td>
                <td>12 Sukhumvit Road</td>
                <td>+66 2 123 4567</td>
                <td>bangkok@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Vancouver, Canada</td>
                <td>SynCCare Clinic</td>
                <td>67 Granville Street</td>
                <td>+1 604-123-4567</td>
                <td>vancouver@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Buenos Aires, Argentina</td>
                <td>SynCCare Medical Facility</td>
                <td>88 Avenida de Mayo</td>
                <td>+54 11 1234 5678</td>
                <td>buenosaires@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Cape Town, South Africa</td>
                <td>SynCCare Clinic</td>
                <td>45 Long Street</td>
                <td>+27 21 123 4567</td>
                <td>capetown@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Barcelona, Spain</td>
                <td>SynCCare Wellness Center</td>
                <td>34 La Rambla</td>
                <td>+34 93 123 4567</td>
                <td>barcelona@synccare.com</td>
            </tr>
            <tr>
                <td><i class="fas fa-map-marker-alt" style="color: red;"></i>  Johannesburg, South Africa</td>
                <td>SynCCare Medical Center</td>
                <td>56 Oxford Road</td>
                <td>+27 11 123 4567</td>
                <td>johannesburg@synccare.com</td>
            </tr>

        </tbody>
    </table>

    <h3>Need Help?</h3>
    <p>For any further inquiries, please feel free to contact us by either method listed above and one of our representatives will gladly assist you. </p>
    <p> - SynCCare Support Team - </p>
    </form>

</div>
{% endblock %}