{% extends 'base.html' %}
{% load static %}

{% block body_class %}home-page{% endblock %}

{% block content %}

<header class="hero text-center text-white d-flex align-items-center" style="background: url('{% static 'images/home.image.jpg' %}') center/cover no-repeat; height: 80vh;">
    <div class="container">
        <h1 class="display-4 fw-bold">Connecting Care, Anytime, Anywhere</h1>
        <p class="lead">SynCCare bridges the gap between patients and families with real-time medical updates.</p>
    </div>
</header>

<section class="container text-center mt-5">
    <h2 class="mb-4 text-black">Why Choose SynCCare?</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card custom-card  p-3 h-100 d-flex flex-column">
                <i class="bi bi-shield-lock fs-1"></i>
                <h4>Secure Data</h4>
                <p>We prioritize security with end-to-end encryption. All patient data is stored safely and securely. We ensure compliance with the highest privacy standards to protect your information.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card custom-card p-3 h-100 d-flex flex-column">
                <i class="bi bi-clock-history fs-1"></i>
                <h4>Real-Time Updates</h4>
                <p>Instant patient status updates for families. Get real-time notifications about your loved ones health status. Stay informed with automated alerts and updates directly to your device.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card custom-card p-3 h-100 d-flex flex-column">
                <i class="bi bi-hospital fs-1"></i>
                <h4>Hospital Integration</h4>
                <p>Seamless connection with hospital systems. Our solution integrates with existing hospital infrastructure to ensure smooth operations. By connecting all hospital departments, we enhance efficiency and care delivery.</p>
            </div>
        </div>
    </div>
</section>

{% load static %}
{% endblock %}

{% block extra_css %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% endblock %}
