{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container mt-5" style="background: rgba(25, 25, 25, 0.5);">
    <h2 class="text-center">Our Collaboration Packages</h2>
    <p class="text-center">Explore our offers and find the package that suits your medical unit's needs.</p>

    <div class="p-4 border rounded shadow-sm" style="background: rgba(25, 25, 25, 0.5); color:white; padding: 20px;">
        <h3>Collaboration Based on Medical Unit Capacity</h3>
        <p>We offer flexible packages based on the number of beds and staff at the medical unit, including monitoring tablets for patient rooms and hallways. Choose the offer that best suits your needs:</p>

        <table class="table table-striped mt-4" style="color: white;">
            <thead>
                <tr>
                    <th>CENTER TYPE</th>
                    <th>CAPACITY</th>
                    <th>STAFF MEMBERS</th>
                    <th>MONITORING TABLETS</th>
                    <th>PRICING</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Small Clinic</td>
                    <td>10 - 20 Beds</td>
                    <td>2 - 5 Staff Members</td>
                    <td>4 Tablets (2 for Room + 2 for Corridor))</td>
                    <td>€500.00 / Month</td>
                </tr>
                <tr>
                    <td>Medium Clinic</td>
                    <td>21 - 50 Beds</td>
                    <td>6 - 15 Staff Members</td>
                    <td>8 Tablets (4 for Room + 4 for Corridor)</td>
                    <td>€1,200.00 / Month</td>
                </tr>
                <tr>
                    <td>Large Clinic</td>
                    <td>51 - 75 Beds</td>
                    <td>16 - 25 Staff Members</td>
                    <td>12 Tablets (6 for Room + 6 for Corridor)</td>
                    <td>€2,000.00 / Month</td>
                </tr>
                <tr>
                    <td>Comprehensive Clinic</td>
                    <td>76 - 100 Beds</td>
                    <td>26 - 40 Staff Members</td>
                    <td>16 Tablets (8 for Room + 8 for Corridor) </td>
                    <td>€3,500.00 / Month</td>
                </tr>
                <tr>
                    <td>Large Hospital</td>
                    <td>101 - 150 Beds</td>
                    <td>41 - 60 Staff Members</td>
                    <td>20 Tablets (10 for Room + 10 for Corridor)</td>
                    <td>€5,000.00 / Month</td>
                </tr>
                <tr>
                    <td>University Hospital</td>
                    <td>151+ Beds</td>
                    <td>61+ Staff Members</td>
                    <td>24 Tablets (12 for Room + 12 for Corridor)</td>
                    <td>€8,000.00 / Month</td>
                </tr>
                <tr>
                    <td>Specialized Hospital</td>
                    <td>50 - 200 Beds</td>
                    <td>25 - 75 Staff Members</td>
                    <td>28 Tablets (14 for Room + 14 for Corridor)</td>
                    <td>€4,000.00 / Month</td>
                </tr>
                <tr>
                    <td>Super Specialized Hospital</td>
                    <td>200+ Beds</td>
                    <td>100+ Staff Members</td>
                    <td>40 Tablets (20 for Room + 20 for Corridor)</td>
                    <td>€10,000.00 / Month</td>
                </tr>
            </tbody>
        </table>

        <h3>Collaboration Benefits</h3>
        <ul>
            <li>Real-time monitoring of patient status through tablets in each room.</li>
            <li>Quick access to patient medical history and vital data.</li>
            <li>Reducing human errors through automation of monitoring and reporting processes.</li>
            <li>Constant technical support for system implementation and usage.</li>
        </ul>

        <h3>Contact Us for More Details</h3>
        <p>For more information and to discuss personalized collaborations, feel free to contact us using the details below:</p>
        <ul>
            <li>Email: <a href="mailto:collaborations@synccare.com">collaborations@synccare.com</a></li>
            <li>Phone: +1 800-555-1234</li>
        </ul>

        <p>- The SynCCare Team -</p>
    </div>
</div>
{% endblock %}
